#Footer {
    // Contenedor principal del footer
    background-color: #0C1B54;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Arial, sans-serif;
    
    // Elementos dentro del footer
    div {
        flex: 1;

        h3 {
            margin-bottom: 10px;
        }

        a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            color: #ffffff;
            transition: color 0.3s;

            &:hover {
                color: #007BFF;
            }
        }
    }

    // Estilos específicos para la sección de redes sociales
    div#Redes-sociales {
        a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 5px;
                transition: filter 0.3s;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
}

// Estilos responsivos
@media (max-width: 768px) {
    #Footer {
        flex-direction: column;
    }
}
