footer {
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer div {
    flex: 1;
}

footer div h2 {
    margin-bottom: 10px;
}

footer div a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

footer div a:hover {
    color: #007BFF;
}

footer div#Redes-sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div#Redes-sociales a img {
    margin-right: 5px;
}

footer div#Redes-sociales a:hover img {
    filter: brightness(1.2);
}

/* Estilos para móvil */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}
