body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../../Resources/Template/Fondo_star_light_white.png");
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slider */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}

.slider__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    
}

/* Servicios */
.services {
    margin-left: 20px;
    margin-right: 20px;
}

.services .services__item{
    border-radius: 2vh;
}

.services__item {
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    background-color: #72CDAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services__title {
    margin-bottom: 10px;
    text-align: center;
}

.services__description {
    margin-bottom: 20px;
}

.services__link {
    display: inline-block;
    padding: 10px 20px;
    background: #0C1B54;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.services__link:hover {
    background: #18296a;
}

/* Botón de Contacto */
.contact-button {
    text-align: center;
    margin-bottom: 20px;
}

.contact-button__link {
    width: 225px;
    height: 66px;
    display: inline-flex;
    padding: 10px 20px;
    background: #ffffff;
    border: 4px solid #20c361;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s;
    font-size: 24px;
    align-items: center;
}

.contact-button__link:hover {
    background: #ceffe2;
    text-decoration: none;
}

.contact-button__icon {
    margin-right: 10px;
}

.btn-primary{
    border-color: #0C1B54;
}

.services__description{
    text-align: start;
}

/* Estilos para móvil */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
    }

    .services__item {
        width: 100%;
    }

    .slider{
        width: 100%;
    }
}
