body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../../Resources/Template/Fondo_star_light_white.png");
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    flex: 1; 
}

main img {
    width: 400px;
    margin-bottom: 20px;
    background-color: #597766;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom: 20px;
}

main a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main a:hover {
    background-color: #0056b3;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    main h1 {
        font-size: 1.9em;
    }

    main img {
        width: 100%;
    }

}
