/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

header img {
    max-width: 100px;
    height: auto;
}


#toggle-menu-btn {
    display: none;
}

nav#botones ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav#botones ul li {
    margin: 0 15px;
}

nav#botones ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

nav#botones ul li a:hover {
    background-color: #0056b3;
}

/* Estilos para móvil */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

    header section{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0px;
        align-items: center;
        justify-content: space-between;
    }

    section#logo-toggle {
        padding: 10px 20px;
    }

    nav#botones {
        display: none; 
        width: 100%;
    }


    #toggle-menu-btn {
        display: block; 
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        height: fit-content;
    }
    
    nav#botones.active {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin-top: 5px;
    }

    nav#botones.active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav#botones.active ul li {
        width: 100%;
    }

    nav#botones.active ul li a {
        width: 100%;
        text-align: center;
        border-radius: 0%;
        background-color: darkgray;
        border: 2px solid black;
    }

}

