//Palettes
$light-blue: #3ECAD3;
$dark-blue: #0C1B54;
$green: #72CDAE;
$light-orange:#FEC985;
$rose: #F18DC1;
$template-WhiteStar: url(../../Resources/Template/Fondo_star_light_white.webp);
$template-SimpleGreen: url(../../Resources/Template/Fondo_simple_light_green.webp);
$template-SimpleOrange: url(../../Resources/Template/Fondo_simple_light_orange.webps);
$template-SimpleLBlue: url(../../Resources/Template/Fondo_simple_light_blue.png);

//Imports
@import "Templates/_LoadDiv_estilos.scss";
@import "Templates/_Mixin.scss";
@import "Templates/_Footer_estilos.scss";
@import "Templates/_Header_estilos.scss";
@import "Templates/_Inicio_estilos.scss";
@import "Templates/_Clases_estilos.scss";
@import "Templates/_Cursos_estilos.scss";
@import "Templates/_Easter-egg_estilos.scss";
@import "Templates/_Inscribirse_estilos.scss";
@import "Templates/_Nosotros_estilos.scss";
@import "Templates/_Registrado_estilos.scss"; 