//Palettes
$light-blue: #43C8DA;
$dark-blue: #071A52;
$blue-dark: #030A1F;
$green: #72D0B6;
$light-orange:#FCCD88;
$rose: #E491B5;
$violet: #6D3EB0;

$template-WhiteStar: url(../../Resources/Template/Fondo_star_light_white.webp);
$template-SimpleGreen: url(../../Resources/Template/Fondo_simple_light_green.webp);
$template-SimpleOrange: url(../../Resources/Template/Fondo_simple_light_orange.webp);
$template-SimpleLBlue: url(../../Resources/Template/Fondo_simple_light_blue.png);

//Imports
@import "Templates/_Mixin.scss";
@import "Templates/_Footer_estilos.scss";
@import "Templates/_Header_estilos.scss";
@import "Templates/_Inicio_estilos.scss";
@import "Templates/_Clases_estilos.scss";
@import "Templates/_Cursos_estilos.scss";
@import "Templates/_Easter-egg_estilos.scss";
@import "Templates/_Inscribirse_estilos.scss";
@import "Templates/_Nosotros_estilos.scss";
@import "Templates/_Registrado_estilos.scss"; 